.orderTest{
    width: 100%;
    background-color: whitesmoke;
}
.ordersMain{
    width: 70%;
    margin: auto;
    background-color: white;
}
.ordersList{
    width: 90%;
    margin: auto;
    border: 1px solid rgb(210, 204, 204);
    border-radius: 30px;
    margin-bottom: 1em;
    box-shadow: 2px 2px 2px 4px rgb(172, 169, 169);
    padding-left: 2em;
}
.ordersList:hover{
    box-shadow: 2px 2px 4px 6px gray;
    cursor: pointer;
}

.orderTitle{

}

